.container {
  display: flex;
  justify-content: center;



}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
  height: 100vh;
}
